:root {
    /*CUSTOM PROPERTIES*/
    /*Colores*/
    --primario: #9c27b0;
    --primario-oscuro: #89119d;
    --secundario: #ffce00;
    --secundario-oscuro: rgb(233, 287, 2);
    --blanco: #fff;
    --negro: #000;

    /*Fuentes*/
    --fuente-principal: "Staatliches", cursive;
}